# Ignore Python virtual environment
.venv/
venv/

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore datasets (optional if large)
data/raw/*
data/processed/*

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VS Code and PyCharm configs
.vscode/
.idea/
